*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(198, 198, 198, 1);
}
.box{
    width: 75%;
    height: 10%;
    background-color: rgb(207, 117, 0);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.dp{
    width: 250px;
    height: 250px;
    background-color:rgba(240, 165, 0, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}
.info{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.dp img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* margin: auto; */
}
.info{
    /* width: 100px;
    height: 100px; */
    background-color: #fff;
    margin: 2% 0 2% 0;
    border-radius: 20px;
}
.info p , .info h1, .info h4  {
    /* display: flex; */
    text-align: center;
}
.details{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 500px;
    background-color: rgba(58, 136, 192, 1);
    margin-bottom: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}
.row1,.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
.col1,.col2{
    background-color: rgba(231, 207, 0, 1);
    border-radius: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col1{
    width: 60%;
}
.col2{
    width: 30%;
}
.col3,.col4{
    background-color: rgba(231, 207, 0, 1);
    height: 200px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.col3{
    width: 35%;
}
.col4{
    width: 55%;
}
ul{
    
}
li{
    float: left;
    /* justify-content: space-around; */
    margin-right: 10%;
    /* width: 100%; */
}
a{
    text-decoration: none;
    color: black;
}
.jspart{
    display: flex;
    /* flex-direction: row; */
    width: 95%;
    /* height: 400px; */
    justify-content: space-around;
    /* align-items: center; */
    background-color:rgba(95, 92, 92, 1);
    margin-bottom: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.calculator,.poem{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    /* height: 350px; */
}
.calculator ul {
    list-style: none;
    padding: 0;
    display: inline;
}
.calculator li label{
    font-size: larger;
    font-weight: bold;
}
.ans{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    /* margin-left: 4%; */
}
input[type="button"]{
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 70%;
}
input[type="text"],input[type="number"]{
    margin-left: 25%;
}
h4>label{
    margin-left: 15%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}
form{
    /* text-align: center; */
    width: 100%;
}
.btn{
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jspart h2{
    margin-top: 10px;
}
form ul li:nth-child(1){
    margin-left: 25%;
}
.out_poem{
    font-size: larger;
    display: flex;
    flex-direction: row;
    margin: 0 10px 20px 10px;
    justify-content: space-between;
}
#out_poem{
    margin-right: 5px;
}
.mid1{
    width: 100%;
    height: 700;
    text-align: center;
    
    margin: auto;
    background-image: linear-gradient(rgb(69, 185, 94), rgb(11, 14, 5));
    margin: 0%;
    position: relative;
    z-index: 1;
    align-items: center;
}
.mid{
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.274);
    box-shadow: 0 0 10px 10px rgba(252, 250, 250, 0.25);
    backdrop-filter: blur(15px);
    min-height: 200px;

}
.slide{
    background-color: rgb(5, 159, 230);
    display: flex;
    flex-direction: column;
    float: left;
    /* justify-content: center; */
    align-items: center;
    height:310px;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
    box-shadow: 10px black;
    border-radius: 20px;
}
.slide img{
    height: 50%;
    width: 100%;
    border-radius: 17px 17px 0 0;
    
}
.slides{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.mid_back_pic{
    width: 100%;
height: 500px;
object-fit: cover;
position: relative;
margin: 0%;
padding: 0%;
}
.port h2{
    color: #fff;
    margin: 10px 0 10px 0;
}
.slide h3 {
    margin-top: 5px;
}
footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: aqua;
    padding: auto;
}
#error{
    color: red;
    margin-left: 15%;
    font-size: bold;
}
@media (max-width: 600px) {
    .jspart{
        display: block;
    }
}